.dyna-animation-3d-flip {
	@animation-duration: 1s;
	perspective: 333px; // fallback value, is overridden from javascript!

	> div {
		transition: transform @animation-duration ease-in-out;
		> div {
			//transition: width @animation-duration ease-in-out, height @animation-duration ease-in-out;
		}
	}

	@keyframes container-height-show {
		from {
			height: 0;
		}
		to {
			height: 150px;
		}
	}
	@keyframes container-height-hide {
		from {
			height: 150px;
		}
		to {
			height: 0;
		}
	}

	@keyframes horizontal-show {
		from {
			transform: rotateY(270deg);
		}
		to {
			transform: rotateY(360deg);
		}
	}
	@keyframes horizontal-hide {
		from {
			transform: rotateY(0deg);
		}
		to {
			transform: rotateY(90deg);
		}
	}
	@keyframes vertical-show {
		from {
			transform: rotateX(90deg);
		}
		0.001% {
			opacity: 1;
			transform: rotateX(90deg);
		}
		to {
			opacity: 1;
			transform: rotateX(0deg);
		}
	}
	@keyframes vertical-hide {
		0% {
			transform: rotateX(0deg);
		}
		99.999% {
			transform: rotateX(-90deg);
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	&.animation-show-on {
		&.flip-direction- {
			&HORIZONTAL {
				> div {
					animation: horizontal-show @animation-duration forwards;
				}
			}
			&VERTICAL {
				animation: container-height-show @animation-duration forwards;;
				> div {
					opacity: 0;
					animation: vertical-show @animation-duration forwards;
					animation-delay: @animation-duration;
				}
			}
		}
	}
	&.animation-show-off {
		&.flip-direction- {
			&HORIZONTAL {
				> div {
					animation: horizontal-hide @animation-duration forwards;
				}
			}
			&VERTICAL {
				animation: container-height-hide @animation-duration forwards;;
				animation-delay: @animation-duration;
				> div {
					animation: vertical-hide @animation-duration forwards;
				}
			}
		}
	}
}
