.dyna-animation-3d-flip {
	@animation-duration: 1s;
	perspective: 333px; // fallback value, is overridden from javascript!

	> div {
		transition: transform @animation-duration ease-in-out;
	}


	@keyframes content-horizontal-show {
		from {
			transform: rotateY(270deg);
		}
		0.001% {
			opacity: 1;
			transform: rotateY(270deg);
		}
		to {
			opacity: 1;
			transform: rotateY(360deg);
		}
	}
	@keyframes content-horizontal-hide {
		0% {
			transform: rotateY(0deg);
		}
		99.999% {
			transform: rotateY(90deg);
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@keyframes content-vertical-show {
		from {
			transform: rotateX(90deg);
		}
		0.001% {
			opacity: 1;
			transform: rotateX(90deg);
		}
		to {
			opacity: 1;
			transform: rotateX(0deg);
		}
	}
	@keyframes content-vertical-hide {
		0% {
			transform: rotateX(0deg);
		}
		99.999% {
			transform: rotateX(-90deg);
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	&.animation-show-on {
		&.flip-direction- {
			&HORIZONTAL {
				animation: container-width-show @animation-duration forwards;;
				> div {
					opacity: 0;
					animation: content-horizontal-show @animation-duration forwards;
					animation-delay: @animation-duration;
				}
			}
			&VERTICAL {
				animation: container-height-show @animation-duration forwards;;
				> div {
					opacity: 0;
					animation: content-vertical-show @animation-duration forwards;
					animation-delay: @animation-duration;
				}
			}
		}
	}
	&.animation-show-off {
		&.flip-direction- {
			&HORIZONTAL {
				animation: container-width-hide @animation-duration forwards;
				animation-delay: @animation-duration;
				> div {
					animation: content-horizontal-hide @animation-duration forwards;
				}
			}
			&VERTICAL {
				animation: container-height-hide @animation-duration forwards;
				animation-delay: @animation-duration;
				> div {
					animation: content-vertical-hide @animation-duration forwards;
				}
			}
		}
	}
}
